<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= movie.title %> </h1>
    <h2><%= movie.rating %> </h2>
    <h2><%= movie.length %> </h2>
    <h2><%= movie.release_date %> </h2>
    <h2><%= movie.awards %> </h2>
    <a href="/movies/edit/<%= movie.id %> ">Editar</a>
    <form action="/movies/delete/<%= movie.id %> " method="POST">
        <button type="submit">Borrar</button>
    </form>
</body>
</html>